:root {
    --primary-background: #3F3F3F;
    --header-text: #F6F5EF;
    --sign-out-text: #989898;
    --header-underline: #F6F5EF;
    --switch-border: #59AB58;
    --switch-background: #585858;
    --switch-button-border: #8E8E93;
    --switch-button-background: #F7F7FA;
    --popup-menu-text: #ffffff;
    --settings-input-background: #606060;
    --scroll-background: #3F3F3F;
    --scroll-slider-background: #7E7E7E;
    --active-row: #41594B;
    --invite-icon: #ffffff;
    --think-icon: #ffffff;
    --edit-candidate-icon: #ffffff;
    --comment-icon: #ffffff;
    --show-resume-icon: #ffffff;
    --download-resume-icon: #ffffff;
    --add-candidate-icon: #ffffff;
    --sort-by-forecast-icon: #ffffff;
    --sort-by-status-icon: #fff;
    --sort-by-division-icon: #fff;
    --bind-icon: #ffffff;
    --add-vacancy-icon: #ffffff;
    --add-new-candidate-icon: #ffffff;
    --add-exists-candidate-icon: #ffffff;
    --description-icon: #ffffff;
    --delete-vacancy-icon: #FF7E7E;
    --response-status-icon: #ffffff;
    --refuse-icon: #FF7E7E;
    --filters: #ffffff;
    --actions: #3F3F3F;
    --agreement-info-text: #989898;
    --refuse-button: #FF7E7E;
    --think-button: #4A8AEA;
    --invite-button: #59AB58;
    --vacancy-open-status: #A0F49F;
    --vacancy-closed-status: #FF7E7E;
    --forecast-color: #ffffff;
    --forecast-background: #59AB58;
    --forecast-selected-color: #ffffff;
    --forecast-selected-background: #59AB58;
    --filters-background: #3F3F3F;
    --checkbox-background: #ffffff;
    --checkbox-color: #000000;
    --skill-color: #4A8AEA;
    --cancel-btn: #7E7E7E;
    --primary-text: rgb(255, 255, 255);
    --menu-shadow: rgba(0, 0, 0, 0.27);
    --shadow: rgba(130, 130, 130, 0.6);
    --spiner: 255;
}
