<div class="header" [class.single]="!authService.logedIn">
    <div class="menu-bars">
        <div class="menu-icon" *ngIf="authService.logedIn" (mouseenter)="this.popUpService.switchVisibility()">
            <svg x="0px" y="0px" width="20px" height="20px" viewBox="0 0 24 24">
                <path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"></path>
            </svg>
        </div>
        <div class="menu-title" *ngIf="authService.logedIn">
            МЕНЮ
        </div>
    </div>
    <div class="brand">
        СЕРВИС ПОДДЕРЖКИ ЖКХ
    </div>
    <div 
        class="sign-out-title" 
        *ngIf="authService.logedIn" 
        (click)="signOutClickHandler()"
    >
        ВЫХОД
    </div>  
</div>
