<div class="popup-menu-container">
    <div class="popup-header">
        <div class="popup-user">
            <div class="user">
                {{ authService.name }}
            </div>
            <div class="role" [ngSwitch]="authService.role">
                <span *ngSwitchCase="Role.WORKER">Работник</span>
                <span *ngSwitchCase="Role.MANAGER">Менеджер</span>
                <span *ngSwitchCase="Role.TENANT">Жилец</span>
            </div>
        </div>
    </div>
    <div class="popup-nav" [ngSwitch]="authService.role">
        <ul class="menu-navbar" *ngSwitchCase="Role.WORKER">
            <li class="link"><a routerLink="/worker-tasks">Мои задачи</a></li>
            <li class="link"><a routerLink="/settings">Настройки</a></li>
            <li class="link"><a class="logout" id="logout-link" (click)="logout()">Выйти</a></li>
        </ul>
        <ul class="menu-navbar" *ngSwitchCase="Role.MANAGER">
            <li class="link"><a routerLink="/manager-unassembled">Неразобранные обращения</a></li>
            <li class="link"><a routerLink="/manager-my-appeals">Мои обращения</a></li>
            <li class="link"><a routerLink="/manager-all-appeals">Все обращения</a></li>
            <li class="link"><a routerLink="/manager-shedule-work">Плановые работы</a></li>
            <li class="link"><a routerLink="/settings">Настройки</a></li>
            <li class="link"><a class="logout" id="logout-link" (click)="logout()">Выйти</a></li>
        </ul>
        <ul class="menu-navbar" *ngSwitchCase="Role.TENANT">
            <li class="link"><a routerLink="/tenant-appeal-list">Список обращений</a></li>
            <li class="link"><a routerLink="/tenant-appeal-history">История обращений</a></li>
            <li class="link"><a routerLink="/settings">Настройки</a></li>
            <li class="link"><a class="logout" id="logout-link" (click)="logout()">Выйти</a></li>
        </ul>
    </div>
</div>
