.chat-container {
    width: 100%;
    height: 100%;
}

.messages {
    width: 100%;
    height: calc(100% - 30px);
    overflow-y: scroll;
}

.input-message {
    height: 30px;
    width: 100%;
}

.input-message input, .input-message button {
    display: block;
}

.input-message {
    display: flex;
}

input {
    width: calc(100% - 100px);
}

input {
    color: var(--popup-menu-text);
    background: var(--settings-input-background);
    border: 1px solid var(--sign-out-text);
    border-right: none;
    outline: none;
    height: 30px;
    padding: 6px 15px 6px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 14px;
}

button {
    background: var(--settings-input-background);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--sign-out-text);
    border: 1px solid var(--sign-out-text);
}

button:hover {
    color: white;
    border: 1px solid white;
}

input::placeholder {
    color: var(--sign-out-text);
    opacity: 1;
}

input:-ms-input-placeholder {
    color: var(--sign-out-text);
}

input::-ms-input-placeholder {
    color: var(--sign-out-text);
}

button {
    font-size: 15px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    background: var(--sign-out-text);
    margin-bottom: 8px;
    display: inline-block;
    max-width: 45%;
    width: fit-content;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.text {
    text-align: justify;
    font-size: 17px;
}

.date {
    margin-top: 8px;
    float: right;
    font-size: 13px;
}

.mine {
    margin-left: auto;
}