.worker-task-info-container {
    background-color: var(--primary-background);
    height: 100%;
    border: 2px solid var(--sign-out-text);
    border-radius: 30px;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text);
    overflow: hidden;
    position: relative;
    width: 100%;
}

button.non-map {
    width: 170px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--sign-out-text);
    color: black;
    cursor: pointer;
    background: var(--sign-out-text);
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
}

button.map {
    width: 170px;
    height: 30px;
    position: absolute;
    z-index: 1000000;
    top: 22px;
    right: 22px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid var(--sign-out-text);
    color: black;
    cursor: pointer;
    background: var(--sign-out-text);
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
}

.task-description {
    height: calc(100% - 50px);
    background: var(--sign-out-text);
    border-radius: 20px;
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.title, .date {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description {
    height: calc(100% - 140px);
    overflow: hidden;
    text-align: justify;
    text-indent: 30px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.status, .manager, .address {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}