.home-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-container {
    height: 100%;
    width: calc(40% - 15px);
}

.right-container {
    height: 100%;
    width: calc(60% - 15px);
}

.layout {
    height: 100%;
    width: 30px;
}