<div class="tenant-settings-container">
    <div class="layout"></div>
    <div class="settings-scroll-wrap">
        <form [formGroup]="form">
            <div class="name-field field">
                <div class="label">ФИО</div>
                <input formControlName="name" type="text" class="title"
                    placeholder="Введите ФИО"
                >
            </div>
            <div class="address-field field">
                <div class="label">Адрес</div>
                <input formControlName="address" type="text" class="title"
                    placeholder="Введите адрес проживания"
                >
            </div>
            <div class="phone-field field">
                <div class="label">Телефон</div>
                <input formControlName="phone" type="text" class="title"
                    placeholder="+7 (___) ___-__-__"
                >
            </div>
        </form>
        <div class="btn-container">
            <button (click)="saveSettings()">
                Сохранить
            </button>
        </div>
    </div>
</div>